@use "../button.scss" as *;
@use "../mx-media.scss" as *;
@use "../variables.scss" as *;
.main {
  gap: 15px;
  height: 100vh;
  padding-top: 70px;
  margin: 0;
  background-color: $introAndEmailBG;
  background-image: url("/BG/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  h1,
  p {
    max-width: 37ch;
  }
  button {
    @include button;
    margin-top: auto;
  }
  @include lg {
    background-image: url("/BG/bg-curvy-desktop.svg");
  }
}
